.rule {
    // margin: 10px 0;
    // padding: 5px;
    // background-color: lemonchiffon;
    // border: 1px solid #ccc;
    cursor: pointer;
    display: flex;

    .rule-left {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: royalblue;
    }

    .rule-right {
        width: 100%;
        flex: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .rule-title{
            margin-bottom: 10px;
            background: none;
            padding-left: 10px;
            position: relative;
            &::before{
                content: '';
                width: 2px;
                height: 14px;
                background: #000;
                position: absolute;
                left: 0;
                top: 13px;
                z-index: 10;
            }
        }

        .rule-item {
            //border: 1px solid #ccc;
            width: 100%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
            display: inline-block;
            padding: 10px 10px 4px 10px;
            position: relative;
            margin: 0 10px 10px 0;
            overflow: visible;
            // width: 450px;
            .delete-rule-item{
                width: 30px;
                height: 30px;
                font-size: 20px;
                position: absolute;
                right: 0;
                top: 20px;
                // transform: translate(100%,-50%);
            }
        }

        .add-layer {
            display: flex;
            justify-content: left;
        }

        .block-label{
            display: none;
        }

        .block{
            display: inline-block;
            .lego-form-item{
                display: inline-block;
            }
            .el-form-item{
                display: inline-block;
                .el-form-item__label{
                    width: auto!important;
                    padding-right: 5px;
                }
                .el-form-item__content{
                    margin: 0!important;
                    display: inline-block;
                }
            }
        }

    }
    .item-border {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
        display: inline-block;
        padding: 10px 40px 10px 10px;
        // width: 420px;
    }
}