.desc {
    line-height: 16px;
    font-size: 12px;
    margin-bottom: 16px;
    // margin-top: -16px;
}

.lego-form-item {
    vertical-align: top;
    /* .el-form-item {
        .el-form-item__label {
          margin-top: 5px;
        }
      } */
}

.description {
    line-height: 14px;
    font-size: 12px;
}

.lego-form-content {
    margin-bottom: -16px;
}

.atomic {
    align-items: center;
    display: flex;
    // width: 80%;
    margin-bottom: 16px;
}

.describe {
    margin-top: -16px;
    margin-bottom: 16px;
    padding: 0;
    line-height: 1.5;
}

.input-content {
    display: flex;

    .prefix {
        margin-right: 10px;
    }

    .suffix {
        margin-left: 10px;
    }
}

.crowdLabel .el-select,
.crowdLabel .el-select-dropdown {
    width: 280px !important;
}

