.top-area {
    box-sizing: border-box;
    height: 50px;
    box-sizing: border-box;
    padding-top: 15px;

    .top-title {
        font-weight: 500;
        font-size: 16px;
        margin-left: 9px;
    }

    .top-center {
        display: flex;
        justify-content: space-around;

        div {
            display: inline-block;
            font-weight: 500;
            font-size: 14px;
            cursor: pointer;

            span {
                margin-right: 4px;
                width: 15px;
                display: inline-block;
            }

            &:hover {
                color: rgb(149, 149, 141);
            }
        }
    }
}